@tailwind base;
@tailwind components;
@tailwind utilities;



.wrapper .main .top-main .image .top-image{
    position: relative;
}

.wrapper .main .top-main .image .top-image .script{
    
    display: none;
}

.wrapper .main .top-main .image .top-image .mSlides{
    width: 100%;
    display: none;
}

.wrapper .main .top-main .image .top-image .button-left{
    left: 1%;
    font-size: 20px;
}

.wrapper .main .top-main .image .top-image .button-right{
    right: 2%;
    font-size: 20px;
}

.wrapper .main .top-main .image .top-image .image-button{
    border: none;
    display: inline-block;
    padding:10px;
    height: 50px;
    vertical-align: middle;
    overflow: hidden;
    color: #FFF;
    background: #000;
    position: absolute;
    top: calc(50% - 25px);
    opacity: 0.5;
}

.wrapper .main .top-main .image .top-image .image-button:hover{
    color: #000;
    background-color: #ccc;
    
}

.wrapper .main .top-main .button:hover{
    background-color: #4872fa;
}

.wrapper .main .top-main .cart .quantity .box{
    line-height: 17px;
    font-size: 14px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}





.wrapper .main .top-main .cart .submit{
    padding: 13px 29px;
    line-height: 17px;
    font-size: 14px;
    background: #4872fa;
    color: #ffffff;
    border-color: #ECF0FE ;
    text-align: center;
    margin: 0;
    cursor: pointer;
}

.wrapper .main .top-main .cart .submit:hover{
    background-color: #f59000
}

.wrapper .main .top-main .content .price .old-price{
    text-decoration: line-through;
}

.wrapper .main .top-main .content .price .new-price{
    color: orange;
    margin-left: 2rem;
}



.wrapper .main .top-main .content .price .gia{
    font-size: 24px;
    margin-bottom: 1rem;
}

footer .container{
    padding-left: 20px;
    padding-right: 20px;
}




footer .category {
    background: #222222;
    padding-left: 30px;  
    height: 6rem;
}



footer .category a {
    color: #999999;
    padding-right: 30px;
}

footer .link {
    background: #222222;
   
}


footer .link a {
    color: #999999;
}